.navbar{
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 1px;
    position: fixed;
    top:0;
    left: 0;
    margin-left: 3rem;
}

.navbar-elements{
    display: flex;
}

.navbar-nav{
    display: flex;
    gap: 40px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}

.navbar-nav li{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nav-item a{
    color: #fff;
}

.nav-link:hover{
    color: #9A48D0 !important;
    font-weight: bold;
    transition: 0.3s;
}

.active a{
    color: #9A48D0;
    font-weight: bold;
}

.logoWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.firstTitle{
    color: #9A48D0;
}

.iconTitle{
    color: #9A48D0;
}